<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title><%= title%></title>
    <%include ./includes_ejs/head.ejs %>
</head>
<body>
<%include ./includes_ejs/header.ejs%>
<%#-body%>
</body>
</html>